In [3]:
import pandas as pd
import numpy as np

import pickle

import warnings

warnings.filterwarnings('ignore')

## Import Data

In [129]:
def GetPermData(years):
    
    location = '/Users/laurengilson/Desktop/perm_data/PERM_FY{}.xlsx'
    dfs = []
        
    for year in years:
        print(f"{year} in progress...")
        
        # Read in excel for particular year
        read_data = pd.read_excel(location.format(year))
        
        # set column headers to lower case and remove spaces
        read_data.columns = list(map(lambda header : header.lower(), read_data.columns)) # make all lowercase
        read_data.colums = read_data.columns.str.replace(' ','_') # replace spaces with underscores

        # add column of fiscal year to df
        read_data['fiscal_year'] = str(year) 
        dfs.append(read_data) # append to list
        print(f"Number of dataframes in dfd: {len(dfs)}")
        print(f"{year}: Done")
    
    return pd.concat(dfs, axis=0, ignore_index=True)

In [5]:
years = [2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]

In [6]:
perm_df = GetPermData(years)

2008 in progress...
Number of dataframes in dfd: 1
2008: Done
2009 in progress...
Number of dataframes in dfd: 2
2009: Done
2010 in progress...
Number of dataframes in dfd: 3
2010: Done
2011 in progress...
Number of dataframes in dfd: 4
2011: Done
2012 in progress...
Number of dataframes in dfd: 5
2012: Done
2013 in progress...
Number of dataframes in dfd: 6
2013: Done
2014 in progress...
Number of dataframes in dfd: 7
2014: Done
2015 in progress...
Number of dataframes in dfd: 8
2015: Done
2016 in progress...
Number of dataframes in dfd: 9
2016: Done
2017 in progress...
Number of dataframes in dfd: 10
2017: Done
2018 in progress...
Number of dataframes in dfd: 11
2018: Done
2019 in progress...
Number of dataframes in dfd: 12
2019: Done

In [15]:
# pickle original imported df
perm_df.to_pickle("./perm_df.pkl")

In [270]:
# Unpickle
perm_df = pd.read_pickle("./perm_df.pkl")

In [271]:
perm_df.head()

,2007_naics_us_code,2007_naics_us_title,add_these_pw_job_title_9089,agent_city,agent_firm_name,agent_state,application_type,case_no,case_number,case_received_date,...,ri_pvt_employment_firm_to,ri_us_workers_considered,schd_a_sheepherder,us_economic_sector,wage_offer_from_9089,wage_offer_to_9089,wage_offer_unit_of_pay_9089,wage_offered_from_9089,wage_offered_to_9089,wage_offered_unit_of_pay_9089
0,NaN,UNCLASSIFIED,NaN,NaN,NaN,NaN,PERM,NaN,A-08271-91262,NaT,...,NaN,NaN,NaN,UNCLASSIFIED,10.23,NaN,HR,NaN,NaN,NaN
1,NaN,UNCLASSIFIED,NaN,NaN,NaN,NaN,PERM,NaN,C-07327-98303,NaT,...,NaN,NaN,NaN,UNCLASSIFIED,54000,NaN,YR,NaN,NaN,NaN
2,NaN,UNCLASSIFIED,NaN,NaN,NaN,NaN,PERM,NaN,A-08029-18103,NaT,...,NaN,NaN,NaN,UNCLASSIFIED,9.8,NaN,HR,NaN,NaN,NaN
3,NaN,UNCLASSIFIED,NaN,NaN,NaN,NaN,PERM,NaN,A-07262-76878,NaT,...,NaN,NaN,NaN,UNCLASSIFIED,11.42,NaN,HR,NaN,NaN,NaN
4,NaN,UNCLASSIFIED,NaN,NaN,NaN,NaN,PERM,NaN,A-08273-91603,NaT,...,NaN,NaN,NaN,UNCLASSIFIED,6,6,HR,NaN,NaN,NaN

## Clean data

### Create new dataframe of cleaned columns

In [272]:
perm_cleaned_df = pd.DataFrame()

In [273]:
perm_df.head()

,2007_naics_us_code,2007_naics_us_title,add_these_pw_job_title_9089,agent_city,agent_firm_name,agent_state,application_type,case_no,case_number,case_received_date,...,ri_pvt_employment_firm_to,ri_us_workers_considered,schd_a_sheepherder,us_economic_sector,wage_offer_from_9089,wage_offer_to_9089,wage_offer_unit_of_pay_9089,wage_offered_from_9089,wage_offered_to_9089,wage_offered_unit_of_pay_9089
0,NaN,UNCLASSIFIED,NaN,NaN,NaN,NaN,PERM,NaN,A-08271-91262,NaT,...,NaN,NaN,NaN,UNCLASSIFIED,10.23,NaN,HR,NaN,NaN,NaN
1,NaN,UNCLASSIFIED,NaN,NaN,NaN,NaN,PERM,NaN,C-07327-98303,NaT,...,NaN,NaN,NaN,UNCLASSIFIED,54000,NaN,YR,NaN,NaN,NaN
2,NaN,UNCLASSIFIED,NaN,NaN,NaN,NaN,PERM,NaN,A-08029-18103,NaT,...,NaN,NaN,NaN,UNCLASSIFIED,9.8,NaN,HR,NaN,NaN,NaN
3,NaN,UNCLASSIFIED,NaN,NaN,NaN,NaN,PERM,NaN,A-07262-76878,NaT,...,NaN,NaN,NaN,UNCLASSIFIED,11.42,NaN,HR,NaN,NaN,NaN
4,NaN,UNCLASSIFIED,NaN,NaN,NaN,NaN,PERM,NaN,A-08273-91603,NaT,...,NaN,NaN,NaN,UNCLASSIFIED,6,6,HR,NaN,NaN,NaN

### Clean Y predictor column

In [274]:
# lowercase whole column
perm_df['case_status'] = list(map(lambda value : value.lower(), perm_df['case_status']))

# Check values
values, counts = np.unique(perm_df['case_status'], return_counts=True)
dict(zip(values, counts))

{'certified': 367855,
 'certified-expired': 401154,
 'denied': 79243,
 'withdrawn': 38951}

In [275]:
# Remove rows where application was withdrawn
perm_df = perm_df.drop(perm_df[perm_df['case_status'] == 'withdrawn'].index).reset_index(drop=True)

In [276]:
def Predictor(outcome):
    ''' Classes case outcome into 1 for denied, 0 for certified'''
    if outcome == 'denied':
        return 1
    else:
        return 0

In [277]:
# Create outcomes into 0 and 1
perm_df["case_outcome"] = perm_df["case_status"].apply(Predictor)
# Certified = 769009 (90.66%, Denied = 79243 (9.34%) - BEWARE OF CLASS IMBALANCE

In [278]:
# add to clean dataframe 
perm_cleaned_df['case_outcome'] = perm_df['case_outcome'].astype('category')

In [279]:
# append fiscal year
perm_cleaned_df['fiscal_year_of_application'] = perm_df['fiscal_year'].astype('category')

### Add National Processing Center - extract from case_number

In [280]:
# merge case_number and case_no columns
perm_df['case_number'].fillna(perm_df['case_no'], inplace=True)

In [281]:
perm_df['processing_center'] = [i[0] for i in perm_df['case_number']]

In [282]:
perm_cleaned_df['processing_center'] = perm_df['processing_center'].astype('category')

### Clean class of admission

In [283]:
perm_df['class_of_admission'] = perm_df['class_of_admission'].fillna(str('unknown'))
perm_df['class_of_admission'] = list(map(str, perm_df['class_of_admission']))
perm_df['class_of_admission'] = list(map(lambda x:x.lower(), perm_df['class_of_admission']))
perm_df['class_of_admission'] = [x.replace('-', '') for x in perm_df['class_of_admission']]

In [284]:
perm_cleaned_df['class_of_admission'] = perm_df['class_of_admission'].astype('category')

### Clean country of citizenship columns

In [285]:
perm_df['country_of_citizenship'].fillna(perm_df['country_of_citzenship'], inplace=True)

In [286]:
perm_df['country_of_citizenship'] = perm_df['country_of_citizenship'].fillna(str('unknown'))
perm_df['country_of_citizenship'] = list(map(lambda x:x.lower(), perm_df['country_of_citizenship']))
perm_df['country_of_citizenship'] = perm_df['country_of_citizenship'].str.replace('(', '')
perm_df['country_of_citizenship'] = perm_df['country_of_citizenship'].str.replace(')', '')

In [287]:
def CountryCode(key):
    return country_code_dict[key]

In [288]:
perm_df['citizenship_code'] = perm_df['country_of_citizenship'].apply(CountryCode)

In [289]:
perm_cleaned_df['country_of_citizenship'] = perm_df['citizenship_code'].astype(str)

### Add column based on whether citizenship and place of birth are the same

In [290]:
perm_df['fw_info_birth_country'] = perm_df['fw_info_birth_country'].fillna(str('unknown'))
perm_df['fw_info_birth_country'] = list(map(lambda x:x.lower(), perm_df['fw_info_birth_country']))

In [291]:
def ColValueCheck(col_1, col_2):
    
    '''Creates a new column from values of two other columns 
    dependent on whether columns have the same value.
    1 = Yes 0 = No
    
    Inputs: 2 columns from dataframe
    
    Assumptions: Assumes if there is a NaN value, it would be the same
    as the other column value'''
    
    col_1 = col_1.fillna('unknown')
    col_2 = col_2.fillna('unknown')
    
    new_col = []
    
    for idx, value in enumerate(col_1):
        if col_1[idx] == 'unknown' or col_2[idx] == 'unknown': # if unknown assume they're the same
            new_col.append(1)
        elif col_1[idx] == col_2[idx]:
            new_col.append(1)
        else:
            new_col.append(0)
    
    return new_col

In [292]:
citizenship_same_as_birth = list(ColValueCheck(perm_df['country_of_citizenship'], perm_df['fw_info_birth_country']))
perm_df['citizenship_same_as_birth'] = citizenship_same_as_birth

In [293]:
perm_cleaned_df['citizenship_same_as_birth'] = perm_df['citizenship_same_as_birth'].astype('category')

### Get tax bracket of wage requested - categorises wages

In [294]:
def WageFunction(col1, col2):
    
    # Clean col1
    col1 = col1.fillna(0)
    col1 = list(map(str, col1)) # In order remove non numeric characters
    col1 = [x.replace(',', '') for x in col1]
    col1 = [x.replace('#', '0') for x in col1]
    col1 = list(map(float, col1))
    
    # Clean col2
    col2 = col2.fillna(0)
    col2 = list(map(str, col2))
    col2 = list(map(lambda x:x.lower(), col2))
    col2 = [i[0] for i in col2] # Reduce to one letter to get unit of pay
    col2 = list(map(str, col2))
    
    tups = list(zip(col1, col2))
    
    total_salary = []
    av_us_salary = 53039 # Assume average US salary for NaN or 0 values 
    
    
    for idx, value in enumerate(tups):
        if tups[idx][1] == 'h': # Hourly
            total_salary.append((tups[idx][0]*2080))
        elif tups[idx][1] == 'w': # Weekly
            total_salary.append((tups[idx][0]*52))
        elif tups[idx][1] == 'b': # Bi-Weekly
            total_salary.append((tups[idx][0]*26))
        elif tups[idx][1] == 'm': # Monthly
            total_salary.append((tups[idx][0]*12))
        elif tups[idx][1] == 'y': # Yearly
            total_salary.append(tups[idx][0])
        else:
            total_salary.append(av_us_salary) # Assume nulls have average salary
    
    rounded_list = [ '%.2f' % elem for elem in total_salary]
    rounded_list = list(map(float, rounded_list))
    rounded_list = [av_us_salary if x == 0 else x for x in rounded_list] # Assume zeros have av salary
    
    return rounded_list

In [295]:
perm_df['salary_for_job_requested'] = WageFunction(perm_df['pw_amount_9089'], perm_df['pw_unit_of_pay_9089'])

In [296]:
perm_cleaned_df['wage_for_job'] = perm_df['salary_for_job_requested'].astype(float)

### pw_soc_code

In [297]:
# Reduce 'Standard Occupational Classification' to major group
perm_df['pw_soc_code'] = list(map(str, perm_df['pw_soc_code']))
perm_df['pw_soc_code'] = [i[0:2] for i in perm_df['pw_soc_code']]
perm_df['pw_soc_code'] = [x.replace('na', '00') for x in perm_df['pw_soc_code']]

In [298]:
perm_cleaned_df['job_soc_code'] = perm_df['pw_soc_code'].astype('category')

In [299]:
perm_df['pw_soc_code'].unique()

array(['35', '19', '47', '99', '37', '39', '51', '27', '53', '43', '45',
       '21', '41', '49', '29', '31', '13', '11', '17', '15', '25', '23',
       '33', '00', '55', '20', '30', '90', '91'], dtype=object)

### US Economic Sector

In [300]:
# Check values
perm_df['us_economic_sector'] = list(map(str, perm_df['us_economic_sector']))
perm_df['us_economic_sector'] = list(map(lambda x:x.lower(), perm_df['us_economic_sector']))
perm_df['us_economic_sector'] = [x.replace('nan', 'unclassified') for x in perm_df['us_economic_sector']]

In [301]:
perm_cleaned_df['job_economic_sector'] = perm_df['us_economic_sector'].astype(str)

### prepared_by_employer - NAN assume No

In [302]:
perm_df['preparer_info_emp_completed'] = list(map(str, perm_df['preparer_info_emp_completed']))
perm_df['preparer_info_emp_completed'] = list(map(lambda x:x.lower(), perm_df['preparer_info_emp_completed']))
perm_df['preparer_info_emp_completed'] = [x.replace('nan', 'n') for x in perm_df['preparer_info_emp_completed']]

In [303]:
def EmployerCompleted(outcome):
    ''' Classes case outcome into 1 for employer completed, 0 for not'''
    if outcome == 'y':
        return 1
    else:
        return 0

In [304]:
perm_df["preparer_info_emp_completed"] = perm_df["preparer_info_emp_completed"].apply(EmployerCompleted)

In [305]:
perm_cleaned_df['employer_completed_application'] = perm_df['preparer_info_emp_completed'].astype('category')

### Decision Date

In [306]:
perm_df['decision_date'] = pd.to_datetime(perm_df['decision_date'])

In [307]:
# Reduce decision date to month and year as a code 
perm_df['decision_date'] = perm_df['decision_date'].map(lambda x: 100*x.year + x.month)

In [308]:
perm_cleaned_df['decision_month_year'] = perm_df['decision_date'].astype('category')

### foreign info worker education & other

In [309]:
perm_df['foreign_worker_info_education'] = list(map(str, perm_df['foreign_worker_info_education']))
perm_df['foreign_worker_info_education'] = list(map(lambda x:x.lower(), perm_df['foreign_worker_info_education']))
perm_df['foreign_worker_info_education'] = [x.replace('nan', 'unknown') for x in perm_df['foreign_worker_info_education']]

In [310]:
perm_cleaned_df['applicant_highest_education'] = perm_df['foreign_worker_info_education'].astype('category')

###  job_info_training (is training needed for job)

In [311]:
perm_df['job_info_training'] = list(map(str, perm_df['job_info_training']))
perm_df['job_info_training'] = list(map(lambda x:x.lower(), perm_df['job_info_training']))
perm_df['job_info_training'] = [x.replace('nan', 'n') for x in perm_df['job_info_training']] # Assume nans as n

In [312]:
perm_df['job_info_training'] = perm_df['job_info_training'].apply(EmployerCompleted)

In [313]:
perm_cleaned_df['training_required'] = perm_df['job_info_training'].astype('category')

### - ri_layoff_in_past_six_months (Null - assumed no)

In [314]:
perm_df['ri_layoff_in_past_six_months'] = list(map(str, perm_df['ri_layoff_in_past_six_months']))
perm_df['ri_layoff_in_past_six_months'] = list(map(lambda x:x.lower(), perm_df['ri_layoff_in_past_six_months']))
perm_df['ri_layoff_in_past_six_months'] = [x.replace('nan', 'n') for x in perm_df['ri_layoff_in_past_six_months']] # Assume nans as n

In [315]:
perm_df['ri_layoff_in_past_six_months'] = perm_df['ri_layoff_in_past_six_months'].apply(EmployerCompleted)

In [316]:
perm_cleaned_df['layoff_in_past_six_months'] = perm_df['ri_layoff_in_past_six_months'].astype('category')

### fw_ownership_interest

In [317]:
perm_df['fw_ownership_interest'] = list(map(str, perm_df['fw_ownership_interest']))
perm_df['fw_ownership_interest'] = list(map(lambda x:x.lower(), perm_df['fw_ownership_interest']))
perm_df['fw_ownership_interest'] = [x.replace('nan', 'n') for x in perm_df['fw_ownership_interest']] # Assume nans as n

In [318]:
perm_df['fw_ownership_interest'] = perm_df['fw_ownership_interest'].apply(EmployerCompleted)

In [319]:
perm_cleaned_df['ownership_interest'] = perm_df['fw_ownership_interest'].astype('category')

### number employees

In [320]:
perm_df['employer_num_employees'] = perm_df['employer_num_employees'].fillna(perm_df['employer_num_employees'].mean(axis=0))

In [321]:
perm_cleaned_df['employer_num_employees'] = perm_df['employer_num_employees'].astype(int)

### Add state of foreign worker

In [322]:
us_state_abbrev = {
    'alabama': 'AL',
    'alaska': 'AK',
    'american samoa' : 'AS',
    'arizona': 'AZ',
    'arkansas': 'AR',
    'british columbia' : 'BC',
    'california': 'CA',
    'colorado': 'CO',
    'connecticut': 'CT',
    'delaware': 'DE',
    'district of columbia' : 'DC',
    'florida': 'FL',
    'georgia': 'GA',
    'guam' : 'GU',
    'hawaii': 'HI',
    'idaho': 'ID',
    'illinois': 'IL',
    'indiana': 'IN',
    'iowa': 'IA',
    'kansas': 'KS',
    'kentucky': 'KY',
    'louisiana': 'LA',
    'maine': 'ME',
    'marshall islands' : 'MH',
    'maryland': 'MD',
    'massachusetts': 'MA',
    'michigan': 'MI',
    'minnesota': 'MN',
    'mississippi': 'MS',
    'missouri': 'MO',
    'montana': 'MT',
    'nebraska': 'NE',
    'nevada': 'NV',
    'new hampshire': 'NH',
    'new jersey': 'NJ',
    'new mexico': 'NM',
    'new york': 'NY',
    'north carolina': 'NC',
    'north dakota': 'ND',
    'northern mariana islands' : 'MP',
    'ohio': 'OH',
    'oklahoma': 'OK',
    'oregon': 'OR',
    'pennsylvania': 'PA',
    'puerto rico' : 'PR',
    'rhode island': 'RI',
    'south carolina': 'SC',
    'south dakota': 'SD',
    'tennessee': 'TN',
    'texas': 'TX',
    'utah': 'UT',
    'vermont': 'VT',
    'virginia': 'VA',
    'virgin islands' : 'VI',
    'washington': 'WA',
    'west virginia': 'WV',
    'wisconsin': 'WI',
    'wyoming': 'WY',
}

In [323]:
def StateAbbreviation(state_col):
    
    '''Abbreviates any full length state names into their corresponding
    two letter code'''
    
    state_col = state_col.fillna(str('none'))
    state_col = list(map(str, state_col))
    state_col = list(map(lambda state:state.lower(), state_col))

    abbrev_list = []
    
    for item in state_col:
        
        if item in us_state_abbrev:
            abbrev_list.append(us_state_abbrev[item].upper())
        else:
            abbrev_list.append(item.upper())

    return abbrev_list

In [324]:
perm_df['fw_worker_state_abv'] = StateAbbreviation(perm_df['foreign_worker_info_state'])

In [325]:
perm_df['fw_worker_state_abv'] = [x.replace('NONE', 'unknown') for x in perm_df['fw_worker_state_abv']] # Assume nans as n

In [326]:
perm_cleaned_df['worker_state_abv'] = perm_df['fw_worker_state_abv'].astype('category')

### Add column of whether job is in same state

In [327]:
# clean job state
perm_df['job_state_abv'] = StateAbbreviation(perm_df['job_info_work_state'])

In [328]:
# is job in same state - nans - assume they are
job_in_same_state = list(ColValueCheck(perm_df['fw_worker_state_abv'], perm_df['job_state_abv']))
perm_df['job_same_state'] = job_in_same_state

In [329]:
perm_cleaned_df['job_same_state'] = perm_df['job_same_state'].astype('category')

### fw_info_req_experience

In [330]:
# merge cols that should be the same
perm_df['fw_info_rel_occup_exp'].fillna(perm_df['fw_info_rel_occup_experience'], inplace = True)

In [331]:
# merge FW_INFO_REL_OCCUP_EXP and FW_INFO_REQ_EXPERIENCE (apparently same col according to schema)
perm_df['fw_info_req_experience'].fillna(perm_df['fw_info_rel_occup_exp'], inplace = True)

In [332]:
perm_df['fw_info_req_experience'] = list(map(str, perm_df['fw_info_req_experience']))

In [333]:
perm_df['fw_info_req_experience'] = [x.replace('nan', 'N') for x in perm_df['fw_info_req_experience']] # Assume nans as n
perm_df['fw_info_req_experience'] = list(map(lambda x:x.lower(), perm_df['fw_info_req_experience']))

In [334]:
perm_cleaned_df['has_required_experience'] = perm_df['fw_info_req_experience'].astype('category')

### Drop rows where citizenship is NA from cleaned df

In [335]:
perm_cleaned_df = perm_cleaned_df.drop(perm_cleaned_df[perm_cleaned_df['country_of_citizenship'] == 'NA'].index).reset_index(drop=True)

### Save clean df

In [336]:
perm_cleaned_df.tail(10)

,case_outcome,fiscal_year_of_application,processing_center,class_of_admission,country_of_citizenship,citizenship_same_as_birth,wage_for_job,job_soc_code,job_economic_sector,employer_completed_application,decision_month_year,applicant_highest_education,training_required,layoff_in_past_six_months,ownership_interest,employer_num_employees,worker_state_abv,job_same_state,has_required_experience
848076,0,2019,A,e2,NLD,1,91520.0,17,unclassified,0,201812,bachelor's,0,0,0,8,CA,1,y
848077,1,2019,A,h1b,IND,1,109325.0,15,unclassified,1,201812,bachelor's,0,0,0,72,CA,1,y
848078,1,2019,A,j1,MEX,1,23379.0,39,unclassified,0,201812,bachelor's,0,0,0,1,FL,0,y
848079,1,2019,A,unknown,IRN,1,74277.0,13,unclassified,0,201812,master's,0,0,0,3,unknown,1,a
848080,1,2019,A,ewi,ECU,1,44491.0,51,unclassified,0,201812,none,0,0,0,10,NY,1,y
848081,1,2019,A,h1b,BRA,1,112350.0,53,unclassified,0,201812,none,0,0,0,1,FL,1,y
848082,1,2019,A,h1b,CHN,1,113381.0,15,unclassified,0,201812,master's,0,0,0,2000,CA,1,y
848083,1,2019,A,unknown,ITA,1,56430.0,35,unclassified,0,201812,none,0,0,0,8,NY,1,y
848084,1,2019,A,unknown,GEO,1,27102.0,47,unclassified,0,201812,none,0,0,0,104,unknown,1,a
848085,1,2019,A,unknown,CHN,1,93870.0,15,unclassified,1,201812,master's,0,0,0,8,unknown,1,a

In [337]:
# pickle clean df
perm_cleaned_df.to_pickle("./perm_clean_df.pkl")

### Check nulls

In [109]:
for column in list(perm_df.columns):
    nan_num = len(perm_df) - perm_df[column].count()
    print(f"{column} : There are {nan_num} NaN values out of {len(perm_df)}")

2007_naics_us_code : There are 436276 NaN values out of 848252
2007_naics_us_title : There are 506155 NaN values out of 848252
add_these_pw_job_title_9089 : There are 808957 NaN values out of 848252
agent_city : There are 457968 NaN values out of 848252
agent_firm_name : There are 466142 NaN values out of 848252
agent_state : There are 466679 NaN values out of 848252
application_type : There are 433255 NaN values out of 848252
case_no : There are 528047 NaN values out of 848252
case_number : There are 0 NaN values out of 848252
case_received_date : There are 414997 NaN values out of 848252
case_status : There are 0 NaN values out of 848252
class_of_admission : There are 0 NaN values out of 848252
country_of_citizenship : There are 0 NaN values out of 848252
country_of_citzenship : There are 541394 NaN values out of 848252
decision_date : There are 0 NaN values out of 848252
employer_address_1 : There are 73 NaN values out of 848252
employer_address_2 : There are 595905 NaN values out of 848252
employer_city : There are 33 NaN values out of 848252
employer_country : There are 415143 NaN values out of 848252
employer_decl_info_title : There are 415093 NaN values out of 848252
employer_name : There are 31 NaN values out of 848252
employer_num_employees : There are 0 NaN values out of 848252
employer_phone : There are 415042 NaN values out of 848252
employer_phone_ext : There are 806061 NaN values out of 848252
employer_postal_code : There are 1079 NaN values out of 848252
employer_state : There are 74 NaN values out of 848252
employer_yr_estab : There are 415277 NaN values out of 848252
fiscal_year : There are 0 NaN values out of 848252
foreign_worker_info_city : There are 415362 NaN values out of 848252
foreign_worker_info_education : There are 0 NaN values out of 848252
foreign_worker_info_inst : There are 452835 NaN values out of 848252
foreign_worker_info_major : There are 454678 NaN values out of 848252
foreign_worker_info_state : There are 446990 NaN values out of 848252
fw_info_alt_edu_experience : There are 415360 NaN values out of 848252
fw_info_birth_country : There are 0 NaN values out of 848252
fw_info_education_other : There are 830652 NaN values out of 848252
fw_info_postal_code : There are 420698 NaN values out of 848252
fw_info_rel_occup_exp : There are 536843 NaN values out of 848252
fw_info_rel_occup_experience : There are 726767 NaN values out of 848252
fw_info_req_experience : There are 0 NaN values out of 848252
fw_info_training_comp : There are 415351 NaN values out of 848252
fw_info_yr_rel_edu_completed : There are 452472 NaN values out of 848252
fw_ownership_interest : There are 0 NaN values out of 848252
ji_foreign_worker_live_on_premises : There are 763620 NaN values out of 848252
ji_fw_live_on_premises : There are 499963 NaN values out of 848252
ji_live_in_dom_svc_contract : There are 843803 NaN values out of 848252
ji_live_in_domestic_service : There are 415325 NaN values out of 848252
ji_offered_to_sec_j_foreign_worker : There are 763317 NaN values out of 848252
ji_offered_to_sec_j_fw : There are 499950 NaN values out of 848252
job_info_alt_cmb_ed_oth_yrs : There are 719793 NaN values out of 848252
job_info_alt_combo_ed : There are 718954 NaN values out of 848252
job_info_alt_combo_ed_exp : There are 415070 NaN values out of 848252
job_info_alt_combo_ed_other : There are 833592 NaN values out of 848252
job_info_alt_field : There are 415058 NaN values out of 848252
job_info_alt_field_name : There are 671958 NaN values out of 848252
job_info_alt_occ : There are 618779 NaN values out of 848252
job_info_alt_occ_job_title : There are 572125 NaN values out of 848252
job_info_alt_occ_num_months : There are 572422 NaN values out of 848252
job_info_combo_occupation : There are 415012 NaN values out of 848252
job_info_education : There are 415023 NaN values out of 848252
job_info_education_other : There are 835025 NaN values out of 848252
job_info_experience : There are 415016 NaN values out of 848252
job_info_experience_num_months : There are 600954 NaN values out of 848252
job_info_foreign_ed : There are 415288 NaN values out of 848252
job_info_foreign_lang_req : There are 415026 NaN values out of 848252
job_info_job_req_normal : There are 415021 NaN values out of 848252
job_info_job_title : There are 415100 NaN values out of 848252
job_info_major : There are 466338 NaN values out of 848252
job_info_training : There are 0 NaN values out of 848252
job_info_training_field : There are 840580 NaN values out of 848252
job_info_training_num_months : There are 842439 NaN values out of 848252
job_info_traning_num_months : There are 846104 NaN values out of 848252
job_info_work_city : There are 328 NaN values out of 848252
job_info_work_postal_code : There are 415126 NaN values out of 848252
job_info_work_state : There are 309 NaN values out of 848252
naics_us_code : There are 415795 NaN values out of 848252
naics_us_title : There are 415795 NaN values out of 848252
orig_case_no : There are 847751 NaN values out of 848252
orig_file_date : There are 847776 NaN values out of 848252
preparer_info_emp_completed : There are 0 NaN values out of 848252
preparer_info_title : There are 460519 NaN values out of 848252
pw_amount_9089 : There are 7883 NaN values out of 848252
pw_determ_date : There are 415568 NaN values out of 848252
pw_expire_date : There are 415684 NaN values out of 848252
pw_job_title_9089 : There are 5019 NaN values out of 848252
pw_level_9089 : There are 53850 NaN values out of 848252
pw_soc_code : There are 0 NaN values out of 848252
pw_soc_title : There are 160734 NaN values out of 848252
pw_source_name_9089 : There are 100174 NaN values out of 848252
pw_source_name_other_9089 : There are 819180 NaN values out of 848252
pw_track_num : There are 417940 NaN values out of 848252
pw_unit_of_pay_9089 : There are 7162 NaN values out of 848252
rec_info_barg_rep_notified : There are 763376 NaN values out of 848252
recr_info_barg_rep_notified : There are 499995 NaN values out of 848252
recr_info_coll_teach_comp_proc : There are 835181 NaN values out of 848252
recr_info_coll_univ_teacher : There are 415060 NaN values out of 848252
recr_info_employer_rec_payment : There are 415032 NaN values out of 848252
recr_info_first_ad_start : There are 426137 NaN values out of 848252
recr_info_job_fair_from : There are 845327 NaN values out of 848252
recr_info_job_fair_to : There are 845331 NaN values out of 848252
recr_info_on_campus_recr_from : There are 845365 NaN values out of 848252
recr_info_on_campus_recr_to : There are 845373 NaN values out of 848252
recr_info_pro_org_advert_from : There are 771726 NaN values out of 848252
recr_info_pro_org_advert_to : There are 771741 NaN values out of 848252
recr_info_professional_occ : There are 415024 NaN values out of 848252
recr_info_radio_tv_ad_from : There are 807108 NaN values out of 848252
recr_info_radio_tv_ad_to : There are 807106 NaN values out of 848252
recr_info_second_ad_start : There are 426224 NaN values out of 848252
recr_info_sunday_newspaper : There are 425964 NaN values out of 848252
recr_info_swa_job_order_end : There are 426238 NaN values out of 848252
recr_info_swa_job_order_start : There are 426188 NaN values out of 848252
refile : There are 536502 NaN values out of 848252
ri_1st_ad_newspaper_name : There are 426391 NaN values out of 848252
ri_2nd_ad_newspaper_name : There are 426273 NaN values out of 848252
ri_2nd_ad_newspaper_or_journal : There are 426151 NaN values out of 848252
ri_campus_placement_from : There are 797115 NaN values out of 848252
ri_campus_placement_to : There are 797126 NaN values out of 848252
ri_coll_tch_basic_process : There are 835197 NaN values out of 848252
ri_coll_teach_pro_jnl : There are 837739 NaN values out of 848252
ri_coll_teach_select_date : There are 837760 NaN values out of 848252
ri_employee_referral_prog_from : There are 726469 NaN values out of 848252
ri_employee_referral_prog_to : There are 730991 NaN values out of 848252
ri_employee_referral_prog_to_date : There are 843727 NaN values out of 848252
ri_employer_web_post_from : There are 617521 NaN values out of 848252
ri_employer_web_post_to : There are 617558 NaN values out of 848252

ri_job_search_website_from : There are 494077 NaN values out of 848252
ri_job_search_website_to : There are 494089 NaN values out of 848252
ri_layoff_in_past_six_months : There are 0 NaN values out of 848252
ri_local_ethnic_paper_from : There are 616746 NaN values out of 848252
ri_local_ethnic_paper_to : There are 616750 NaN values out of 848252
ri_posted_notice_at_worksite : There are 415120 NaN values out of 848252
ri_pvt_employment_firm_from : There are 821686 NaN values out of 848252
ri_pvt_employment_firm_to : There are 821690 NaN values out of 848252
ri_us_workers_considered : There are 819588 NaN values out of 848252
schd_a_sheepherder : There are 415029 NaN values out of 848252
us_economic_sector : There are 0 NaN values out of 848252
wage_offer_from_9089 : There are 111401 NaN values out of 848252
wage_offer_to_9089 : There are 659345 NaN values out of 848252
wage_offer_unit_of_pay_9089 : There are 112446 NaN values out of 848252
wage_offered_from_9089 : There are 740236 NaN values out of 848252
wage_offered_to_9089 : There are 818813 NaN values out of 848252
wage_offered_unit_of_pay_9089 : There are 781287 NaN values out of 848252
case_outcome : There are 0 NaN values out of 848252
processing_center : There are 0 NaN values out of 848252
citizenship_same_as_birth : There are 0 NaN values out of 848252
salary_for_job_requested : There are 0 NaN values out of 848252
tax_bracket : There are 0 NaN values out of 848252
decision_month : There are 0 NaN values out of 848252
fw_worker_state_abv : There are 0 NaN values out of 848252
job_state_abv : There are 0 NaN values out of 848252
job_same_state : There are 0 NaN values out of 848252
business_size : There are 0 NaN values out of 848252
decision_code : There are 0 NaN values out of 848252

In [151]:
country_code_dict = {'afghanistan': 'AFG',
            'albania': 'ALB',
             'algeria': 'DZA',
             'andorra': 'AND',
             'angola':'AGO',
             'anguilla': 'GBR',
             'antigua and barbuda': 'ATG',
             'argentina': 'ARG',
             'armenia': 'ARM',
             'aruba': 'ARW',
             'australia': 'AUS',
             'austria': 'AUT',
             'azerbaijan': 'AZE',
             'bahamas': 'BHS',
             'bahrain': 'BHR',
             'bangladesh': 'BGD',
             'barbados': 'BRB',
             'belarus': 'BLR',
             'belgium': 'BEL',
             'belize': 'BLZ',
             'benin': 'BEN',
             'bermuda': 'BMU',
             'bhutan': 'BTN',
             'bolivia': 'BOL',
             'bosnia and herzegovina': 'BIH',
             'botswana':'BWA',
             'brazil': 'BRA',
             'british virgin islands': 'VGB',
             'brunei' : 'BRN',
             'bulgaria' : 'BGR',
             'burkina faso': 'BFA',
             'burma myanmar': 'MMR',
             'burundi': 'BDI',
             'cambodia': 'KHM',
             'cameroon': 'CMR',
             'canada': 'CAN',
             'cape verde': 'CPV',
             'cayman islands': 'CYM',
             'central african republic': 'CAF',
             'chad': 'TCD',
             'chile': 'CHL',
             'china': 'CHN',
             'colombia': 'COL',
             'comoros': 'COM',
             'costa rica':'CRI',
             "cote d'ivoire": 'CIV',
             'croatia':'HRV',
             'cuba': 'CUB',
             'cyprus': 'CYP',
             'czech republic' : 'CZE',
             'czechoslovakia' : 'CZE',
             'democratic republic of congo': 'COD',
             'denmark': 'DNK',
             'dependant territory' : 'NA',
             'dominica': 'DMA',
             'dominican republic': 'DOM',
             'ecuador': 'ECU',
             'egypt': 'EGY',
             'el salvador': 'SLV',
             'equatorial guinea': 'GNQ',
             'eritrea' : 'ERI',
             'estonia' : 'EST',
             'ethiopia' : 'ETH',
             'fiji' : 'FJI',
             'finland': 'FIN',
             'france': 'FRA',
             'gabon': 'GAB',
             'gambia': 'GMB',
             'georgia': 'GEO',
             'germany': 'DEU',
             'ghana': 'GHA',
             'greece': 'GRC',
             'grenada': 'GRD',
             'guatemala': 'GTM',
             'guinea': 'GIN',
             'guinea-bissau': 'GNB',
             'guyana': 'GUY',
             'haiti': 'HTI',
             'honduras': 'HND',
             'hong kong': 'HKG',
             'hungary': 'HUN',
             'iceland': 'ISL',
             'india': 'IND',
             'indonesia': 'IDN',
             'iran': 'IRN',
             'iraq': 'IRQ',
             'ireland': 'IRL',
             'israel': 'ISR',
             'italy': 'ITA',
             'ivory coast': 'CIV',
             'jamaica': 'JAM',
             'japan': 'JPN',
             'jordan': 'JOR',
             'kazakhstan': 'KAZ',
             'kenya': 'KEN',
             'kiribati' : 'KIR',
             'kosovo': 'XKX',
             'kuwait': 'KWT',
             'kyrgyzstan': 'KGZ',
             'laos': 'LAO',
             'latvia': 'LVA',
             'lebanon' : 'LBN',
             'lesotho': 'LSO',
             'liberia': 'LBR',
             'libya': 'LBY',
             'liechtenstein': 'LIE',
             'lithuania': 'LTU',
             'luxembourg': 'LUX',
             'macau': 'MAC',
             'macedonia': 'MKD',
             'madagascar': 'MDG',
             'malawi': 'MWI',
             'malaysia': 'MYS',
             'maldives': 'MDV',
             'mali': 'MLI',
             'malta': 'MLT',
             'marshall islands': 'MHL',
             'mauritania': 'MRT',
             'mauritius': 'MUS',
             'mexico': 'MEX',
             'micronesia' : 'FSM',
             'moldova': 'MDA',
             'monaco': 'MCO',
             'mongolia': 'MNG',
             'montenegro': 'MNE',
             'montserrat': 'GBR',
             'morocco': 'MAR',
             'mozambique': 'MOZ',
             'namibia': 'NAM',
             'nauru': 'NRU',
             'nepal': 'NPL',
             'netherlands': 'NLD',
             'netherlands antilles': 'NLD',
             'new zealand': 'NZL',
             'nicaragua': 'NIC',
             'niger': 'NER',
             'nigeria' : 'NGA',
             'north korea': 'PRK',
             'norway': 'NOR',
             'oman': 'OMN',
             'pakistan': 'PAK',
             'palestine':'PSE',
             'palestinian territories': 'PSE',
             'panama': 'PAN',
             'papua new guinea': 'PNG',
             'paraguay': 'PRY',
             'peru': 'PER',
             'philippines': 'PHL',
             'pitcairn islands': 'NA',
             'poland': 'POL',
             'portugal': 'PRT',
             'qatar': 'QAT',
             'republic of congo': 'COG',
             'romania': 'ROU',
             'russia': 'RUS',
             'rwanda': 'RWA',
             'saint vincent and the grenadines': 'VCT',
             'samoa' : 'WSM',
             'sao tome and principe': 'STP',
             'saudi arabia': 'SAU',
             'senegal': 'SEN',
             'serbia': 'SRB',
             'serbia and montenegro': 'MNE',
             'seychelles': 'SYC',
             'sierra leone': 'SLE',
             'singapore': 'SGP',
             'slovakia': 'SVK',
             'slovenia': 'SVN',
             'solomon islands': 'SLB',
             'somalia': 'SOM',
             'south africa': 'ZAF',
             'south korea': 'KOR',
             'south sudan': 'SSD',
             'soviet union': 'RUS',
             'spain': 'ESP',
             'sri lanka': 'LKA',
             'st helena' : 'GBR',
             'st kitts and nevis' :'KNA',
             'st lucia': 'LCA',
             'st vincent': 'VCT',
             'sudan': 'SDN',
             'suriname': 'SUR',
             'swaziland': 'SWZ',
             'sweden': 'SWE',
             'switzerland': 'CHE',
             'syria': 'SYR',
             'taiwan': 'CHN',
             'tajikistan': 'TJK',
             'tanzania': 'TZA',
             'thailand': 'THA',
             'togo': 'TGO',
             'tonga': 'TON',
             'trinidad and tobago': 'TTO',
             'tunisia': 'TUN',
             'turkey': 'TUR',
             'turkmenistan': 'TKM',
             'turks and caicos islands': 'TCA',
             'uganda': 'UGA',
             'ukraine': 'UKR',
             'united arab emirates': 'ARE',
             'united kingdom': 'GBR',
             'united states of america': 'USA',
             'unknown' :'NA',
             'uruguay': 'URY',
             'uzbekistan': 'UZB',
             'vanuatu': 'VUT',
             'venezuela': 'VEN',
             'vietnam': 'VNM',
             'yemen': 'YEM',
             'yugoslavia': 'MNE',
             'zambia': 'ZMB',
             'zimbabwe': 'ZWE'}

---

### Import and clean economic data

In [39]:
perm_df_cleaned = pd.read_pickle("./perm_clean_df.pkl")

In [40]:
perm_df_cleaned.tail()

,case_outcome,fiscal_year_of_application,processing_center,class_of_admission,country_of_citizenship,citizenship_same_as_birth,wage_for_job,job_soc_code,job_economic_sector,employer_completed_application,decision_month_year,applicant_highest_education,training_required,layoff_in_past_six_months,ownership_interest,employer_num_employees,worker_state_abv,job_same_state,has_required_experience
848081,1,2019,A,h1b,BRA,1,112350.0,53,unclassified,0,201812,none,0,0,0,1,FL,1,y
848082,1,2019,A,h1b,CHN,1,113381.0,15,unclassified,0,201812,master's,0,0,0,2000,CA,1,y
848083,1,2019,A,unknown,ITA,1,56430.0,35,unclassified,0,201812,none,0,0,0,8,NY,1,y
848084,1,2019,A,unknown,GEO,1,27102.0,47,unclassified,0,201812,none,0,0,0,104,unknown,1,a
848085,1,2019,A,unknown,CHN,1,93870.0,15,unclassified,1,201812,master's,0,0,0,8,unknown,1,a

In [41]:
economic_list = ['GDP_data','employment_to_pop_ratio','gov_expenditure_education','percentage_of_immigrants','net_migration']

In [42]:
def CleanEconomic(data):
    
    # Read data
    economic_data = pd.read_csv(f'/Users/laurengilson/Desktop/perm_data/{data}.csv')
    
    # remove last 5 rows
    economic_data = economic_data[:-5]

    # drop unnecessary columns 
    economic_data.drop(['Series Name', 'Series Code', 'Country Name'], axis=1, inplace=True)
    
    # Turn to strings and replace '..' with '0'
    for column in list(economic_data.columns):
        economic_data[column] = list(map(str, economic_data[column]))
        economic_data[column] = [x.replace('..', '0') for x in economic_data[column]]
        
    if data == 'percentage_of_immigrants':
        
        economic_data['2007 [YR2007]'] = economic_data['2005 [YR2005]']
        economic_data.drop(['2005 [YR2005]', '2006 [YR2006]'], axis=1, inplace=True)
    
    elif data == 'net_migration':
        
        for idx, column in enumerate(list(economic_data.columns)[2:]):
            economic_data[column] = economic_data[column].astype(float)
            economic_data[column] = economic_data[column].replace(to_replace=0, value=economic_data.iloc[-1][column])
            economic_data[column] = economic_data[column].replace(0, np.nan) # replace 0 with NaNs
            economic_data.loc[economic_data[column].isnull(), column] = economic_data.iloc[:,economic_data.columns.get_loc(column)-1] # rest of nans with value from prev column
            economic_data[column] = economic_data[column].astype(float)
            
        economic_data.drop(['2002 [YR2002]', '2003 [YR2003]', '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]'], axis=1, inplace=True)

    else: 
        None
    
    # dict of new columns to replace current column headers 
    years = ['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']
    col_list = list(economic_data.columns[1:])
    new_cols = dict(zip(col_list, years))
    
    # Change column head to fiscal years 
    economic_data.rename(columns=new_cols, inplace=True)
    
    
    if data == 'GDP_data':
        
        # Change 2019 - to have 3.1% growth on 2018.
        economic_data['2019'] = economic_data['2018'].astype(float) * 1.031
        
        # Put data in billions & round to 2dp 
        for column in list(economic_data.columns)[1:]:
            economic_data[column] = economic_data[column].astype(float)/1000000000 # Put in terms of billions
            economic_data[column] = economic_data[column].apply(lambda x: round(x, 2))
        
        # Transform df
        economic_data = pd.melt(economic_data, id_vars=['Country Code'], var_name='year', value_name='gdp')
        
        return economic_data
    
    elif data == 'employment_to_pop_ratio':
        
        for column in list(economic_data.columns)[1:]:
            economic_data[column] = economic_data[column].astype(float)
            economic_data[column] = economic_data[column].replace(to_replace=0, value=economic_data[column].mean())
            economic_data[column] = economic_data[column].apply(lambda x: round(x, 2))
           
        # Transform df
        economic_data = pd.melt(economic_data, id_vars=['Country Code'], var_name='year', value_name='employment')
        
        return economic_data
    
    elif data == 'gov_expenditure_education' or data == 'percentage_of_immigrants':

        for idx, column in enumerate(list(economic_data.columns)[1:]):
            economic_data[column] = economic_data[column].astype(float)
            economic_data[column] = economic_data[column].replace(to_replace=0, value=economic_data.iloc[-1][column]) # Replace zero with world average for that year
            economic_data[column] = economic_data[column].replace(0, np.nan) # replace 0 with NaNs
            economic_data.loc[economic_data[column].isnull(), column] = economic_data.iloc[:,economic_data.columns.get_loc(column)-1] # rest of nans with value from prev column
            economic_data[column] = economic_data[column].apply(lambda x: round(x, 2))
        
        # Transform df
        if data == 'gov_expenditure_education':
            economic_data = pd.melt(economic_data, id_vars=['Country Code'], var_name='year', value_name='gov_expen')
            return economic_data
        else:
            economic_data = pd.melt(economic_data, id_vars=['Country Code'], var_name='year', value_name='percentage_of_immigrants')
            return economic_data
    
    else: 
         # Transform df
        economic_data = pd.melt(economic_data, id_vars=['Country Code'], var_name='year', value_name='net_migration')
        return economic_data

In [43]:
CleanEconomic('net_migration')

     Country Code  year  net_migration
0             USA  2008      5033689.0
1             AFG  2008      -777497.0
2             ALB  2008      -217358.0
3             DZA  2008      -357340.0
4             ASM  2008            0.0
5             AND  2008            0.0
6             AGO  2008        85286.0
7             ATG  2008          -92.0
8             ARG  2008       -84998.0
9             ARM  2008      -183361.0
10            ABW  2008         -441.0
11            AUS  2008      1122688.0
12            AUT  2008       153763.0
13            AZE  2008        53580.0
14            BHS  2008        14363.0
15            BHR  2008       272000.0
16            BGD  2008     -3570954.0
17            BRB  2008         2050.0
18            BLR  2008        63933.0
19            BEL  2008       294270.0
20            BLZ  2008         8722.0
21            BEN  2008       -48776.0
22            BMU  2008            0.0
23            BTN  2008        16829.0
24            BOL  2008       -84003.0
25            BIH  2008       -59246.0
26            BWA  2008        18730.0
27            BRA  2008            0.0
28            VGB  2008            0.0
29            BRN  2008        -2089.0
...           ...   ...            ...
3138          IDB  2019     -1704262.0
3139          IDX  2019     -6865972.0
3140          IDA  2019     -8570234.0
3141          LTE  2019     -1098140.0
3142          LCN  2019     -1671839.0
3143          LAC  2019     -1731412.0
3144          TLA  2019     -1500234.0
3145          LDC  2019     -5247506.0
3146          LMY  2019    -14639694.0
3147          LIC  2019     -3675622.0
3148          LMC  2019    -10438795.0
3149          MEA  2019      -330734.0
3150          MNA  2019     -2416237.0
3151          TMN  2019     -2383421.0
3152          MIC  2019    -10964072.0
3153          NAC  2019      5600000.0
3154          INX  2019            0.0
3155          OED  2019     13232046.0
3156          OSS  2019       446398.0
3157          PSS  2019       -56855.0
3158          PST  2019     12156364.0
3159          PRE  2019     -2004805.0
3160          SST  2019       269888.0
3161          SAS  2019     -6962017.0
3162          TSA  2019     -6962017.0
3163          SSF  2019     -1724595.0
3164          SSA  2019     -1723595.0
3165          TSS  2019     -1724595.0
3166          UMC  2019      -525277.0
3167          WLD  2019            0.0

[3168 rows x 3 columns]

In [44]:
cleaned_econ_dfs = []

for data in economic_list:
    cleaned_econ_dfs.append(CleanEconomic(data))

In [45]:
cleaned_econ_dfs[0].head()

  Country Code  year       gdp
0          USA  2008  14477.64
1          AFG  2008      9.75
2          ALB  2008     10.68
3          DZA  2008    134.98
4          ASM  2008      0.52

In [46]:
perm_df_cleaned.head()

,case_outcome,fiscal_year_of_application,processing_center,class_of_admission,country_of_citizenship,citizenship_same_as_birth,wage_for_job,job_soc_code,job_economic_sector,employer_completed_application,decision_month_year,applicant_highest_education,training_required,layoff_in_past_six_months,ownership_interest,employer_num_employees,worker_state_abv,job_same_state,has_required_experience
0,1,2008,A,a1/a2,MRT,1,53039.0,35,unclassified,0,200809,unknown,0,0,0,28602,unknown,1,n
1,1,2008,C,a1/a2,PAK,1,53039.0,19,unclassified,0,200711,unknown,0,0,0,28602,unknown,1,n
2,0,2008,A,a3,PHL,1,53039.0,35,unclassified,0,200807,unknown,0,0,0,28602,unknown,1,n
3,1,2008,A,a3,PRT,1,53039.0,47,unclassified,0,200710,unknown,0,0,0,28602,unknown,1,n
4,1,2008,A,b1,SLE,1,53039.0,99,unclassified,0,200809,unknown,0,0,0,28602,unknown,1,n

In [47]:
perm_df_cleaned.columns

Index(['case_outcome', 'fiscal_year_of_application', 'processing_center',
       'class_of_admission', 'country_of_citizenship',
       'citizenship_same_as_birth', 'wage_for_job', 'job_soc_code',
       'job_economic_sector', 'employer_completed_application',
       'decision_month_year', 'applicant_highest_education',
       'training_required', 'layoff_in_past_six_months', 'ownership_interest',
       'employer_num_employees', 'worker_state_abv', 'job_same_state',
       'has_required_experience'],
      dtype='object')

In [48]:
perm_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 848086 entries, 0 to 848085
Data columns (total 19 columns):
case_outcome                      848086 non-null category
fiscal_year_of_application        848086 non-null category
processing_center                 848086 non-null category
class_of_admission                848086 non-null category
country_of_citizenship            848086 non-null object
citizenship_same_as_birth         848086 non-null category
wage_for_job                      848086 non-null float64
job_soc_code                      848086 non-null category
job_economic_sector               848086 non-null object
employer_completed_application    848086 non-null category
decision_month_year               848086 non-null category
applicant_highest_education       848086 non-null category
training_required                 848086 non-null category
layoff_in_past_six_months         848086 non-null category
ownership_interest                848086 non-null category
employer_num_employees            848086 non-null int64
worker_state_abv                  848086 non-null category
job_same_state                    848086 non-null category
has_required_experience           848086 non-null category
dtypes: category(15), float64(1), int64(1), object(2)
memory usage: 38.8+ MB

In [49]:
for cleaned_df in cleaned_econ_dfs:
    perm_df_cleaned  = pd.merge(perm_df_cleaned, cleaned_df,  how='left', left_on=['country_of_citizenship','fiscal_year_of_application'], right_on = ['Country Code','year'])
    perm_df_cleaned.drop(['Country Code','year'], axis=1, inplace=True)

In [50]:
perm_df_cleaned.head()

,case_outcome,fiscal_year_of_application,processing_center,class_of_admission,country_of_citizenship,citizenship_same_as_birth,wage_for_job,job_soc_code,job_economic_sector,employer_completed_application,...,ownership_interest,employer_num_employees,worker_state_abv,job_same_state,has_required_experience,gdp,employment,gov_expen,percentage_of_immigrants,net_migration
0,1,2008,A,a1/a2,MRT,1,53039.0,35,unclassified,0,...,0,28602,unknown,1,n,3.36,13.74,4.23,1.84,10005.0
1,1,2008,C,a1/a2,PAK,1,53039.0,19,unclassified,0,...,0,28602,unknown,1,n,152.39,40.94,2.64,2.07,-1396377.0
2,0,2008,A,a3,PHL,1,53039.0,35,unclassified,0,...,0,28602,unknown,1,n,149.36,38.22,2.60,0.30,-1500002.0
3,1,2008,A,a3,PRT,1,53039.0,47,unclassified,0,...,0,28602,unknown,1,n,240.17,34.41,4.92,7.36,92133.0
4,1,2008,A,b1,SLE,1,53039.0,99,unclassified,0,...,0,28602,unknown,1,n,2.16,13.74,2.56,2.95,60000.0

In [51]:
perm_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 848086 entries, 0 to 848085
Data columns (total 24 columns):
case_outcome                      848086 non-null category
fiscal_year_of_application        848086 non-null object
processing_center                 848086 non-null category
class_of_admission                848086 non-null category
country_of_citizenship            848086 non-null object
citizenship_same_as_birth         848086 non-null category
wage_for_job                      848086 non-null float64
job_soc_code                      848086 non-null category
job_economic_sector               848086 non-null object
employer_completed_application    848086 non-null category
decision_month_year               848086 non-null category
applicant_highest_education       848086 non-null category
training_required                 848086 non-null category
layoff_in_past_six_months         848086 non-null category
ownership_interest                848086 non-null category
employer_num_employees            848086 non-null int64
worker_state_abv                  848086 non-null category
job_same_state                    848086 non-null category
has_required_experience           848086 non-null category
gdp                               848083 non-null float64
employment                        848083 non-null float64
gov_expen                         848083 non-null float64
percentage_of_immigrants          848083 non-null float64
net_migration                     848083 non-null float64
dtypes: category(14), float64(6), int64(1), object(3)
memory usage: 83.3+ MB

In [52]:
list(perm_df_cleaned.columns)

['case_outcome',
 'fiscal_year_of_application',
 'processing_center',
 'class_of_admission',
 'country_of_citizenship',
 'citizenship_same_as_birth',
 'wage_for_job',
 'job_soc_code',
 'job_economic_sector',
 'employer_completed_application',
 'decision_month_year',
 'applicant_highest_education',
 'training_required',
 'layoff_in_past_six_months',
 'ownership_interest',
 'employer_num_employees',
 'worker_state_abv',
 'job_same_state',
 'has_required_experience',
 'gdp',
 'employment',
 'gov_expen',
 'percentage_of_immigrants',
 'net_migration']

In [53]:
### Add political party at time of decision
# 1 - Republican 0 - Democratic
def PoliticalParty(date):
    
    if 200902 <= date <= 201701:
        return 0
    else:
        return 1

In [54]:
perm_df_cleaned['political_party'] = (perm_df_cleaned['decision_month_year'].apply(PoliticalParty).astype('category'))

In [55]:
perm_df_cleaned.dropna(inplace=True)

In [56]:
perm_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 848083 entries, 0 to 848085
Data columns (total 25 columns):
case_outcome                      848083 non-null category
fiscal_year_of_application        848083 non-null object
processing_center                 848083 non-null category
class_of_admission                848083 non-null category
country_of_citizenship            848083 non-null object
citizenship_same_as_birth         848083 non-null category
wage_for_job                      848083 non-null float64
job_soc_code                      848083 non-null category
job_economic_sector               848083 non-null object
employer_completed_application    848083 non-null category
decision_month_year               848083 non-null category
applicant_highest_education       848083 non-null category
training_required                 848083 non-null category
layoff_in_past_six_months         848083 non-null category
ownership_interest                848083 non-null category
employer_num_employees            848083 non-null int64
worker_state_abv                  848083 non-null category
job_same_state                    848083 non-null category
has_required_experience           848083 non-null category
gdp                               848083 non-null float64
employment                        848083 non-null float64
gov_expen                         848083 non-null float64
percentage_of_immigrants          848083 non-null float64
net_migration                     848083 non-null float64
political_party                   848083 non-null category
dtypes: category(15), float64(6), int64(1), object(3)
memory usage: 84.1+ MB

In [57]:
# pickle clean df
perm_df_cleaned.to_pickle("./final_clean_df.pkl")